body{
	font-family: 'Gotham';
}
#inbox{
	width:300px;
	height:100%;
	display: inline-block;
	left:0px;
	z-index:2;
	overflow:scroll;
	position:fixed;
	top:0px;
	left:0px;
	border-right:1px solid #c7c7c7;
	.date_separator{
		padding:1em;
		text-transform:uppercase;
		font-size:0.7em;
		color:#006e76;
		border-bottom:1px solid #c7c7c7;
		text-align:center;
	}
}
#message_viewer{
	padding:2em;
	width:700px;
	height:100%;
	left:310px;
	top:0px;
	position:fixed;
	overflow:scroll;
	.from{
		font-size:2em;
		margin:0px;
	}
	.to{
		font-size:0.8em;
		margin:0px;
		color:gray;
	}
	.envelope{
		margin:1em 0;
		padding:0.5em;
		border:1px solid #c7c7c7;
		box-shadow:3px 3px 3px rgba(0,0,0,0.1);
		width:100%;
		iframe{
			padding:0px;
			border:none;
			width:100%;
		}
	}
}
.inbox_email{
	padding:0.5em 0.5em;
	border-bottom:1px solid #c7c7c7;
	cursor:pointer;
	overflow: hidden;
	position: relative;
	&.unseen{
		background-color:#ffeeee;
	}
	&.selected{
		background-color:#feffaf;
	}
	.from{
		font-weight: bold;
		margin-bottom:0.2em;
	}
	.subject{
		font-size:0.8em;
	}
	.text_preview{
		padding:0.3em 0;
		font-size:0.7em;
		line-height:1.2;
		color:#a5a5a5;
	}
	.date{
		position: absolute;
		right:0px;
		padding:0.5em;
		top:0px;
		font-size:0.6em;
	}
	.icon{
		float:left;
		width:30px;
		height:30px;
		margin-right:5px;
	}
}
