body{
	font-family: 'Gotham';
}
#left_pane{
	width:300px;
	height:100%;
	left:0px;
	top:0px;
	position:fixed;
	border-right:1px solid #c7c7c7;
	#box_selector{
		height:0.8em;
		font-size:0.8em;
		width:94%;
		border-bottom:1px solid #c7c7c7;
		padding:0.5em 3%;
		position:absolute;
		top:0px;
		left:0px;
		background:rgba(255,255,255,0.95);
		z-index:2;
		box-shadow:0px 3px 3px rgba(0,0,0,0.05);
	}
	#inbox{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		display: inline-block;
		overflow:scroll;
		height:100%;
		.date_separator{
			padding:1em;
			text-transform:uppercase;
			font-size:0.7em;
			color:#006e76;
			border-bottom:1px solid #c7c7c7;
			text-align:center;
		}
	}
}
#message_viewer{
	padding:0 1em;
	width:800px;
	height:100%;
	left:310px;
	top:0px;
	position:fixed;
	overflow:scroll;
	.from{
		font-size:2em;
		margin:0px;
	}
	.to{
		font-size:0.8em;
		margin:0px;
		color:gray;
	}
	.envelope{
		margin:1.5em 0;
		padding:2%;
		border:1px solid #c7c7c7;
		box-shadow:3px 3px 3px rgba(0,0,0,0.1);
		width:96%;
		iframe{
			padding:0px;
			border:none;
			width:100%;
		}
	}
}
.inbox_email{
	padding:0.5em 0.5em;
	border-bottom:1px solid #c7c7c7;
	cursor:pointer;
	overflow: hidden;
	position: relative;
	&.unseen{
		background-color:#ffeeee;
	}
	&.selected{
		background-color:#feffaf;
	}
	.from{
		font-weight: bold;
		margin-bottom:0.2em;
	}
	.subject{
		font-size:0.8em;
	}
	.text_preview{
		padding:0.3em 0;
		font-size:0.7em;
		line-height:1.2;
		color:#a5a5a5;
	}
	.date{
		position: absolute;
		padding:0.5em;
		font-size:0.6em;
	}
	.icon{
		float:left;
		width:30px;
		height:30px;
		margin-right:5px;
	}
}
