$selection_yellow: #feffaf;
@font-face{
	font-family:'Overlock';
	src: url(./fonts/Overlock/Overlock-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-BlackItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body{
	font-family: 'Lato';
	font-style: normal;
	&.project_viewer_open{
		#message_viewer{
			width:-webkit-calc(80% - 402px) !important;
		}
	}
}
#left_drawer{
	font-size:0.8em;
	position:fixed;
	height:100%;
	width:150px;
	top:0;
	left:0;
	.inner{
		height:100%;
		border-right:1px solid #c7c7c7;
		float:left;
		padding:5px;
		width:139px;
		overflow: scroll;
	}
	h2{
		margin:1em 0 0 0;
		&:first-child{
			margin-top:0;
		}
	}
}
#left_pane{
	width:250px;
	height:100%;
	left:150px;
	top:0px;
	position:fixed;
	#box_selector{
		height:0.8em;
		font-size:0.8em;
		width:94%;
		border-bottom:1px solid #c7c7c7;
		padding:0.5em 3%;
		position:absolute;
		top:0px;
		left:0px;
		background:rgba(255,255,255,0.95);
		z-index:2;
		box-shadow:0px 3px 3px rgba(0,0,0,0.05);
		cursor:pointer;
	}
	#inbox{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		padding-top:1.6em;
		display: inline-block;
		overflow:scroll;
		height:100%;
	}
}
#message_viewer{
	background:url(../graphics/stripe.png);
	width:-webkit-calc(100% - 400px) !important;
	height:100%;
	left:400px;
	top:0px;
	border-left:1px solid #c7c7c7;
	position:fixed;
	overflow:scroll;
}
.message_view{
	.envelope{
		background-color:white;
		margin:1.5em 0;
		padding:2%;
		border:1px solid #c7c7c7;
		box-shadow: rgba(0, 0, 0, 0.0470588) 0px 8px 11px 3px;
		width:96%;
		position:relative;
		&:first-child{
			margin-top:0;
		}
		iframe{
			padding:0px;
			border:none;
			width:100%;
		}
	}
	.headers{
		position:relative;
		padding-bottom:0.5em;
		border-bottom:1px solid #e3e3e3;
		-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;
		cursor: pointer;
		.from{
			font-family: 'Overlock';
			font-size:1.5em;
			margin:0px;
		}
		.to{
			font-size:0.75em;
			line-height:1.2;
			margin:0px;
			color:gray;
		}
		.action_btns{
			position:absolute;
			bottom:0em;
			margin:0;
			width:100%;
			height:0.75em;
			font-size:0.75em;
			text-align:center;

			.action_btns_wrapper{
				background-color:white;
				display: inline-block;
				border:1px solid #e3e3e3;
			}
		
			.action_btn{
				text-transform: uppercase;
				padding:0 0.5em;
				cursor:pointer;
				border-right:1px solid #e3e3e3;
				display: inline-block;
				padding:0.2em 0.5em;
				&:last-child{
					border-right:0;
				}
				&:hover{
					background-color:#e3e3e3;
				}
			}
		}
	}
	.date{
		position:absolute;
		top:0px;
		right:0px;
		padding:0.5em;
		font-size:0.8em;
		color:gray;
	}
	.selected{
		border:1px solid yellow;
	}
	.iframe_wrapper{
		margin-top:1em;
	}
	&.with_top{
		.messages{
			margin-top:6em;
		}
	}
	.messages{
		width:96%;
		padding:2%;
	}
	.top{
		width:inherit;
		padding:1em 0;
		text-align:center;
		border-bottom:1px solid #c7c7c7;
		position:fixed;
		background:rgba(255,255,255,0.95);
		z-index:2;
		.thread_subject{
			font-size:1.5em;
		}
		.thread_info{
			font-size:0.8em;
			position:absolute;
			top:0;
			right:0;
			padding:0.5em;
		}
		.btn_reply,.btn_forward{
			padding:0.3em;
			outline:1px solid #c7c7c7;
			margin:0.5em;
			line-height:2.5em;
			text-transform: uppercase;
			background-color:#e3e3e3;
			border-radius:2px;
			font-size:0.75em;
			cursor:pointer;
		}
	}
	.btn_reveal{
		position:absolute;
		bottom:0.5em;
		right:0.5em;
		font-size:0.8em;
	}
	.message_attachments{
		margin-top:1em;
		text-align: center;
		.message_attachment{
			display: inline-block;
			margin:0.5em;
			padding:0.5em;
			border:1px solid #c7c7c7;
			cursor: pointer;	
		}
	}
}
#project_viewer{
	position:fixed;
	width:20%;
	height:100%;
	top:0px;
	right:0px;
	background-color:white;
	border-left:1px solid #c7c7c7;
	z-index:99;
	display: none;
	overflow: scroll;
	.btn_delete_project{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}
	h4{
		margin:0px;
		font-size:0.8em;
		font-weight: normal;
		font-weight: normal;
	}
	.project_title{
		padding:1em 1em 0 1em;
		margin:0 0 0 0;
		font-size:2em;
		text-align:center;
	}
	.thread, .attachment{
		padding:0.5em;
		line-height:1.2;
		cursor:pointer;
		border-bottom:1px solid #e3e3e3;
	}
	.thread{
		&.selected{
			background-color:$selection_yellow;
		}
		img{
			width:15px;
		}
	}
	h3{
		padding:1em 1em 0.5em 1em;
		margin:1.5em 0 0 0;
		border-bottom:1px solid #e3e3e3;
	}
}
.tree_view{
	ul{
		padding:0;
		margin:0;
		list-style: none;
	}
	ul ul{
		padding-left:10px;
	}
	.tree_view_item{
		cursor:pointer;
		margin:4px 0;
		white-space: nowrap;
	}
	span:hover{
		text-decoration: underline;
	}
	.selected{
		> span{
			font-weight:bold;
		}
	}
	.folder_icon{
		margin-right:2px;
	}
}

.overlay{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999;
	left:0;
	top:0;
	text-align: center;
	opacity: 0;
	.inner{
		background: #ffdb4c;
		// position: fixed;
		// bottom: 0px;
		position:relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		display: inline-block;
		text-align: left;
		padding:1%;
	}
	.btn_ex{
		position: absolute;
		top:5px;
		right:5px;
		font-size:9px;
		color:gray;
		cursor:pointer;
		&:hover{
			color:black;
		}
	}
}

.project_list{
	.project_item{
		cursor:pointer;
		margin:4px 0;
		white-space: nowrap;		
		&:hover{
			text-decoration: underline;
		}
	}
}