body {
  font-family: 'Gotham'; }
  body.project_viewer_open #message_viewer {
    width: -webkit-calc(80% - 402px) !important; }

#tree_view {
  position: fixed;
  height: 100%;
  width: 150px;
  top: 0;
  left: 0; }
  #tree_view .inner {
    height: 100%;
    border-right: 1px solid #c7c7c7;
    float: left;
    width: 149px;
    overflow: scroll; }

#left_pane {
  width: 250px;
  height: 100%;
  left: 150px;
  top: 0px;
  position: fixed; }
  #left_pane #box_selector {
    height: 0.8em;
    font-size: 0.8em;
    width: 94%;
    border-bottom: 1px solid #c7c7c7;
    padding: 0.5em 3%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  #left_pane #inbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 1.6em;
    display: inline-block;
    overflow: scroll;
    height: 100%; }

#message_viewer {
  background: url(../graphics/stripe.png);
  width: -webkit-calc(100% - 400px) !important;
  height: 100%;
  left: 400px;
  top: 0px;
  border-left: 1px solid #c7c7c7;
  position: fixed;
  overflow: scroll; }

.message_view .envelope {
  background-color: white;
  margin: 1.5em 0;
  padding: 2%;
  border: 1px solid #c7c7c7;
  box-shadow: rgba(0, 0, 0, 0.04706) 0px 8px 11px 3px;
  width: 96%;
  position: relative; }
  .message_view .envelope:first-child {
    margin-top: 0; }
  .message_view .envelope iframe {
    padding: 0px;
    border: none;
    width: 100%; }
.message_view .headers {
  position: relative;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e3e3e3;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .message_view .headers .from {
    font-family: 'Overlock';
    font-size: 1.5em;
    margin: 0px; }
  .message_view .headers .to {
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0px;
    color: gray; }
  .message_view .headers .action_btns {
    position: absolute;
    bottom: 0em;
    margin: 0;
    width: 100%;
    height: 0.75em;
    font-size: 0.75em;
    text-align: center; }
    .message_view .headers .action_btns .action_btns_wrapper {
      background-color: white;
      display: inline-block;
      border: 1px solid #e3e3e3; }
    .message_view .headers .action_btns .action_btn {
      text-transform: uppercase;
      padding: 0 0.5em;
      cursor: pointer;
      border-right: 1px solid #e3e3e3;
      display: inline-block;
      padding: 0.2em 0.5em; }
      .message_view .headers .action_btns .action_btn:last-child {
        border-right: 0; }
      .message_view .headers .action_btns .action_btn:hover {
        background-color: #e3e3e3; }
.message_view .date {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.5em;
  font-size: 0.8em;
  color: gray; }
.message_view .selected {
  border: 1px solid yellow; }
.message_view .iframe_wrapper {
  margin-top: 1em; }
.message_view.with_top .messages {
  margin-top: 6em; }
.message_view .messages {
  width: 96%;
  padding: 2%; }
.message_view .top {
  width: inherit;
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2; }
  .message_view .top .thread_subject {
    font-size: 1.5em; }
  .message_view .top .thread_info {
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em; }
  .message_view .top .btn_reply, .message_view .top .btn_forward {
    padding: 0.3em;
    outline: 1px solid #c7c7c7;
    margin: 0.5em;
    line-height: 2.5em;
    text-transform: uppercase;
    background-color: #e3e3e3;
    border-radius: 2px;
    font-size: 0.75em;
    cursor: pointer; }
.message_view .btn_reveal {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.8em; }
.message_view .message_attachments {
  margin-top: 1em;
  text-align: center; }
  .message_view .message_attachments .message_attachment {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #c7c7c7;
    cursor: pointer; }

#project_viewer {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: white;
  border-left: 1px solid #c7c7c7;
  z-index: 99;
  display: none; }
  #project_viewer h4 {
    margin: 0px;
    font-size: 0.8em;
    font-weight: normal;
    font-weight: normal; }
  #project_viewer .project_title {
    padding: 1em 1em 0 1em;
    margin: 0 0 0 0;
    font-size: 2em;
    text-align: center; }
  #project_viewer .thread, #project_viewer .attachment {
    padding: 0.5em;
    line-height: 1.2;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3; }
  #project_viewer .thread.selected {
    background-color: #feffaf; }
  #project_viewer .thread img {
    width: 15px; }
  #project_viewer h3 {
    padding: 1em 1em 0.5em 1em;
    margin: 1.5em 0 0 0;
    border-bottom: 1px solid #e3e3e3; }

.tree_view {
  font-size: 0.8em; }
  .tree_view ul {
    padding: 0 0 0 10px;
    list-style: none; }
  .tree_view .tree_view_item {
    cursor: pointer;
    margin: 4px 0;
    white-space: nowrap; }
  .tree_view span:hover {
    text-decoration: underline; }
  .tree_view .selected > span {
    font-weight: bold; }
  .tree_view .folder_icon {
    margin-right: 2px; }

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0; }
  .overlay .inner {
    background: #ffdb4c;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    display: inline-block;
    text-align: left;
    padding: 1%; }
  .overlay .btn_ex {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 9px;
    color: gray;
    cursor: pointer; }
    .overlay .btn_ex:hover {
      color: black; }
