body {
  font-family: 'Gotham',verdana; }

.headers p {
  margin: 2em;
  border-bottom: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 100%;
  height: 14px; }
  .headers p .label {
    color: gray;
    text-transform: uppercase;
    font-size: 10px;
    vertical-align: bottom; }
  .headers p .field {
    margin-left: 0.5em;
    min-width: 1px;
    vertical-align: top; }
    .headers p .field:focus {
      outline: 0; }
